@tailwind base;
@tailwind components;
@tailwind utilities;

#FirstInput::-webkit-inner-spin-button, 
    #FirstInput::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
     margin: 0; 
}

.img__wrap {
    position: relative;
  }
  
  .img__description {
    position: absolute;
    top: auto;
    bottom: 0;
    left: 0;
    right: 0;
    color: #fff;
    visibility: hidden;
    opacity: 0;
    font-size: xx-small;
    transition: opacity .2s, visibility .2s;
  }

  .Containers{
    @apply px-4 py-16 mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl md:px-24 lg:px-8 lg:py-16
  }